@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2F3D7E;
  --color-secondary: #ED7D3A;
  --color-secondary-content: #646262;
  --color-secondary-focus: #333333;
  --color-base-200: #F6F8FF;
  --color-base-300: #EAE6E0;
  --color-accent: #666666;
}
@import "@smastrom/react-rating/style.css";
*{
  font-family: "Sora", sans-serif;
}

.active {
  color: #ED7D3A;
  font-weight: 700;
}